column-count(count)
	column-count: count
	-moz-column-count: count
	-webkit-column-count: count

column-gap(gap)
	column-gap: gap
	-moz-column-gap: gap
	-webkit-column-gap: gap

body
	font-family: 'Century Gothic', "Trebuchet MS", Helvetica, sans-serif

body .container
	width: 100%

a
	cursor: pointer

a:hover
	text-decoration: none

.header
	background: #000
	color: #f4f1ee
	padding-top: 10px

.line
	width: 100%
	height: 10px
	background: #1da6b6

.lineBlack
	width: 100%
	height: 5px
	background: #000

#nav
	padding-top: 40px
	font-family: Georgia, serif
	font-size: 1.4em
	text-align: right

#nav a
	color: #f4f1ee
	padding: 0 20px

#nav a:hover
	color: #1da6b6

#nav a.active
	color: #1da6b6

#nav span
	color: #1da6b6

#mainNav
	width: 100%
	font-size: 1.5em
	color: #000
	padding: 5px 0px
	text-align: center

#mainNav a
	color: #000

#mainNav a:hover
	color: #1da6b6

#mainNav a.active
	color: #1da6b6

.grid-sizer
	visibility: hidden

#projects
	column-count 1
	column-gap 10px

#projects .project
	padding-top: 30px
	display: inline-block

#projects .project img
	width: 100%
	margin: auto

@media screen and (min-width:768px)
	#projects
		column-count: 2

@media screen and (min-width:992px)
	#projects
		column-count: 3

@media screen and (min-width:1200px)
	#projects
		column-count: 4

.footer
	margin: auto
	font-size: 1.4em
	text-align: center
	padding-top: 2em
	font-weight: normal

.credit
	margin: auto
	text-align: center
	padding: 2em 0
	font-weight: normal

